
header{
    font-size: $small;
   
   
}

nav {
  
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    li{
        color:$fontcolor;
        background-color: $green;
    }
}


