/*color*/
$light-black:#2C2C2C;
$grey:#F2F2F2;
$mustard:#E28413;
$black:#000022;
$dark-green:#036754;
$white:#FFFFFF;
$light-green:#059F81;

/*Font-family*/
/*p & nav */
$prim-font:open sans;
/*headline*/
$secondary-font:Montserrat;

/*Size*/
$small:16px;
$medium:18px;
$header:34px;







